<html>
<head>
<meta http-equiv="Content-Type"content="text/html;charset=utf-8"/>
<style type="text/css">
.bor{
	border: 1px dashed #d8d8d8;
	font-size: 14px;
}

.hder{
	height:40px;
	font:bold;
	font-size:16px;
}

trtd{
	border:1px dashed #d8d8d8;
	vertical-align:bottom;
}
</style>
<script type="text/javascript" src="/html/static/addsinaurl.js"></script>
</head>
<body>
	<br/>------------------------------------------------------------<br/>
	代码：<span th:text="${code}"></span>-<span th:text="${codedetail.codeName}"></span>-最后更新日期:<span th:text="${codedetail.date}"></span>
	<br/>------------------------------------------------------------<br/>
	<div><font color='#FF00FF'>曾用名(金字招牌)</font>:<span th:text="${codeBasic.oldName}"></span></div>
	<div>同花顺-主营:<span th:text="${codeBasic.thsMainBiz}"></span></div>
	<div>同花顺-亮点:<span th:text="${codeBasic.thsLightspot}"></span></div>
	<div>公司网站:<span th:text="${codeBasic.webSite}"></span></div>
	<div>同花顺板块：<span th:text="${codeBasic.thsIndustry}"></span></div>
	<div>同花顺概念：<span th:each="cp: ${concepts}"><span th:text="${cp.conceptName}"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
	<div>分红概况:<span th:text="${fhgk}"></span></div>
	<div>增发概况:<span th:text="${zfgk}"></span></div>
	<div><font color='#FF00FF'>违规处理</font>:<a target="_blank" th:href="@{'http://basic.10jqka.com.cn/'+${code}+'/capital.html'}">--></a></div>
	<div><font color='#FF00FF'>财务亏损:</font> 是否主营业务亏损？</div>
	<div><font color='#FF00FF'>项目进度:</font><a target="_blank" th:href="@{'http://basic.10jqka.com.cn/'+${code}+'/event.html'}">-->同花顺</a>
	<a target="_blank" th:href="@{'http://f10.eastmoney.com/f10_v2/CapitalOperation.aspx?code='+${dfcfcode}+'#xmjd-0'}">-->东方财富</a></div>
	<br/>------------------------------------------------------------<br/>
	财务报告年份：<span th:text="${codedetail.currYear}"></span>-年：<span th:text="${codedetail.currQuarter}"></span>季度&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" th:href="@{'/codehist/pre/'+${code}+'/'+${codedetail.currYear}+'/'+${codedetail.currQuarter}}">上一季度</a></span>
	<br/>------------------------------------------------------------<br/>
	<div>流动资产合计(<span th:text="${sumLasset}"></span>) = 货币资金 (<span th:text="${monetaryFund}"></span>)
		+ 交易性金融资产<span th:text="${tradeFinassetNotfvtpl}"></span> + 存货<span th:text="${inventory}"></span>
		 + 应收账款<span th:text="${accountrec}"></span>(占比:<span th:text="${finance.accountrecRatio}"></span>) + 其他</div>
	<div>流动负债合计(<span th:text="${sumDebtLd}"></span>) = 应付账款 (<span th:text="${accountPay}"></span>)+ 应付利息(<span th:text="${interestPay}"></span>) + 其他</div>
	<div>净资产(<span th:text="${netAsset}"></span>,商誉<span th:text="${goodWill}"></span>,占比:<span th:text="${finance.goodWillRatioNetAsset}"></span>)  
		= 总资产(<span th:text="${sumAsset}"></span>)
	 	- 负债合计<span th:text="${sumDebt}"></span>
	 	+ 未分配利润<span th:text="${retaineDearning}"></span> + 其他（公积金等）
	</div>
	<br/>
	<div>营业总收入:<span th:text="${yyzsr}"></span> &nbsp;同比:<span th:text="${finance.yyzsrtbzz}"></span></div>
	<div>归属净利润:<span th:text="${gsjlr}"></span> &nbsp;同比:<span th:text="${finance.gsjlrtbzz}"></span></div>
	<div>扣非净利润:<span th:text="${kfjlr}"></span> &nbsp;同比:<span th:text="${finance.kfjlrtbzz}"></span></div>
	<div>业绩快报/预告:<span th:text="${kb}"></span></div>
	<div>加权净资产收益率:<span th:text="${finance.jqjzcsyl}"></span></div>
	<div>净资产收益率(单季度|ttm):<span th:text="${finance.syldjd}"></span>|<span th:text="${codedetail.sylttm}"></span></div>
	<div>每股经营现金流:<span th:text="${finance.mgjyxjl}"></span></div>
	<div>毛利率:<span th:text="${finance.mll}"></span></div>
	<br/>
	<br/>------------------------------------------------------------<br/>
	资金博弈:
	<br/>------------------------------------------------------------<br/>
	<div>前3大股东占比:<span th:text="${topThree}"></span></div>
	<div>股东人数变化（幅度+次数):<span th:text="${codedetail.holderNum}"></span></div>
	<div>外资持股：比例：<span th:text="${fcratio}"></span>%,金额：<span th:text="${fcamt}"></span>元,数量：<span th:text="${fcvol}"></span>股
		&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" th:href="@{'http://www.igoodstock.com/goodstock/hsgt_hold?sc='+${code}}">持股明细（goodstock）</a>
		&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" th:href="@{'http://data.eastmoney.com/hsgtcg/StockHdStatistics.aspx?stock='+${code}}">持股明细（东方财富）</a>
	</div>
	<div>最近增发记录:<span th:text="${lastZf}"></span></div>
	<div>1年前到现在解禁记录:</span>
		<table border='1' cellspacing='0' cellpadding='0'>
		<tr>
			<th>解禁日期</th>
			<th>解禁类型</th>
			<th>解禁占比</th>
			<th>解禁成本</th>
		</tr>
		<tr th:each="jj : ${jmsg}">
			<td th:text="${jj.date}"></td>
			<td th:text="${jj.type}"></td>
			<td th:text="${jj.zzb}"></td>
			<td th:text="${jj.cost}"></td>
		</tr>
	</table>
	</div>
	<br/>------------------------------------------------------------<br/>
	历史记录:
	<br/>------------------------------------------------------------<br/>
	<div th:each="d: ${histList}">
		<div>日期:<a target="_blank" th:href="@{'/codehist/'+${d.id}}"><span th:text="${d.date}"></span></a></div>
	</div>
	<br/>------------------------------------------------------------<br/>
	<div>应付利息:如果较高，公司在大量有息借钱，关联到货币资金和未分配利润。如果货币资金和未分配利润较高，明明有钱为什么借钱？</div>
	<div>存货资产:库存变现能力弱</div>
	<div>商誉:商誉减值影响扣非净利润，占比太高不行</div>
	<div>货币资金/交易性金融资产:相当于可用现金</div>
	<div>流动负债:短期负债</div>
	<div>应付账款:欠供应/合作商的钱，如果现金流解决不了应付账款，净资产低于应付账款就会破产清算</div>
	<div>应收账款:是否自己贴钱在干活，同行业比较</div>
	<div>应收款占比:&应收款占比：应收账款/流动资产合计</div>
</body>
</html>
