<html>
<head>
<meta http-equiv="Content-Type"content="text/html;charset=utf-8"/>
<style type="text/css">
.bor{
	border: 1px dashed #d8d8d8;
	font-size: 14px;
}

.hder{
	height:40px;
	font:bold;
	font-size:16px;
}

trtd{
	border:1px dashed #d8d8d8;
	vertical-align:bottom;
}
</style>
<script type="text/javascript" src="/html/static/addsinaurl.js"></script>
</head>
<body>
	<br/>------------------------------------------------------------<br/>
	代码：<span th:text="${code}"></span>-<span th:text="${codeName}"></span>-分数：<b><span th:text="${codedetail.score}"></span></b>
	-评分变化：<b><span th:text="${codedetail.upScore}"></span></b>-最后更新日期:<span th:text="${codedetail.udpateDate}"></span>
	<br/>------------------------------------------------------------<br/>
	<div>同花顺板块：<span th:text="${codeBasic.thsIndustry}"></span></div>
	<div>同花顺概念：<span th:each="cp: ${concepts}"><span th:text="${cp.conceptName}"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
	<div>同花顺-主营:<span th:text="${codeBasic.thsMainBiz}"></span></div>
	<div>同花顺-亮点:<span th:text="${codeBasic.thsLightspot}"></span></div>
	<div>曾用名(名字就是金字招牌):<span th:text="${codeBasic.oldName}"></span></div>
	<div>公司网站:<span th:text="${codeBasic.webSite}"></span></div>
	<div>前3大股东占比:<span th:text="${topThree}"></span></div>
	<div>股东人数变化（幅度+次数):<span th:text="${codedetail.holderChange}"></span></div>
	<br/>------------------------------------------------------------<br/>
	财务报告年份：
	<span th:text="${codedetail.currYear}"></span>-报告：<span th:text="${codedetail.currQuarter}"></span>季度,
	-营收同比:<span th:text="${codedetail.currIncomeTbzz}"></span>%
	-净利同比:<span th:text="${codedetail.currProfitTbzz}"></span>%
	-日期:<span th:text="${codedetail.date}"></span>
	<br/>------------------------------------------------------------<br/>
	<table border='1' cellspacing='0' cellpadding='0'>
	<tr><td>项目</td><td>条目</td><td>增长</td><td>下降/地雷</td></tr>
	<tr><td rowspan='3'>营收<br/>(科技类,故事类主要指标)</td>
		<td>1.年报同比</td><td><span th:text="${codedetail.incomeUpYear}"></span></td><td><span th:text="${codedetail.incomeDownYear}"></span></td></tr>
	<tr><td>2.最近季度同比</td><td><span th:text="${codedetail.incomeUpQuarter}"></td><td><span th:text="${codedetail.incomeDownQuarter}"></span></td></tr>
	<tr><td>3.最近2个季度同比持续</td><td><span th:text="${codedetail.incomeUp2Quarter}"></td><td><span th:text="${codedetail.incomeDown2Quarter}"></span></td></tr>
	
	<tr><td rowspan='4'>利润<br/>(传统,销售类主要指标)</td>
		<td>1.年报同比</td><td><span th:text="${codedetail.profitUpYear}"></span></td><td><span th:text="${codedetail.profitDownYear}"></span></td></tr>
	<tr><td>2.最近季度同比</td><td><span th:text="${codedetail.profitUpQuarter}"></span></td><td><span th:text="${codedetail.profitDownQuarter}"></span></td></tr>
	<tr><td>3.最近2个季度同比持续</td><td><span th:text="${codedetail.profitUp2Quarter}"></span></td><td><span th:text="${codedetail.profitDown2Quarter}"></span></td></tr>
	<tr><td>4.退市风险(亏损年数)</td><td>-</td><td><span th:text="${codedetail.profitDown2Year}"></span></td></tr>
	
	<tr><td rowspan='2'>现金能力</td>
		<td>1.最近分红年份</td><td><span th:text="${codedetail.lastDividendDate}"></span></td><td><span th:text="${codedetail.noDividendyear}"></span></td></tr>
	<tr><td>2.最后回购日期</td><td><span th:text="${codedetail.lastBackDate}"></span></td><td><span th:text="${codedetail.noBackyear}"></span></td></tr>
	
	<tr><td rowspan='3'>其他情况</td>
		<td colspan='3'>1.股票质押情况:<span th:text="${codedetail.endDate}"></span>,比例<span th:text="${codedetail.pledgeRatio}"></span></td></tr>
	<tr><td colspan='3'>2.限售股解禁:<span th:text="${codedetail.floatDate}"></span>,流通股份占总股本比率<span th:text="${codedetail.floatRatio}"></span></td></tr>
	<tr><td colspan='3'>3.业绩快报/预告:<span th:text="${kb}"></span></td></tr>
	</table>
	<br/>------------------------------------------------------------<br/>
	资金博弈:
	<br/>
	<div>最近增发记录:<span th:text="${addIssue}"></span></div>
	<br/>------------------------------------------------------------<br/>
	历史记录:
	<br/>
	<div th:each="d: ${histList}">
		<div>日期:<a target="_blank" th:href="@{'/codehist/'+${d.id}}"><span th:text="${d.date}"></span></a>,分数:<span th:text="${d.score}"></span>,评分变化：<span th:text="${d.upScore}"></span></div>
	</div>
</body>
</html>
