<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
.bor {
	border: 1px dashed #d8d8d8;
	font-size: 14px;
}

.hder {
	height: 40px;
	font: bold;
	font-size: 16px;
}

tr td {
	border: 1px dashed #d8d8d8;
	vertical-align: bottom;
}
</style>
<script type="text/javascript" src="./common.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
	数据类型:
	<span th:text="${stat.all}"></span>
	<br /> 数据范围:
	<span th:text="${stat.type}"></span>
	<br /> 开始日期:
	<span th:text="${stat.fromDate}"></span>
	<br />
	<br />
	<table border='1' cellspacing='0' cellpadding='0'>
		<tr>
			<th>类型</th>
			<th>总交易次数</th>
			<th>总盈利次数</th>
			<th>成功率</th>
			<th>累加交易盈亏（非总持仓盈亏）</th>
		</tr>

		<tr>
			<td>所有交易(未卖)</td>
			<td th:text="${stat.allCnt}"></td>
			<td th:text="${stat.ynowCnt}"></td>
			<td><span th:text="${stat.nowRate}"></span>%</td>
			<td><span th:text="${stat.allProfit}"></span>%</td>
		</tr>

		<tr>
			<td>已完成交易</td>
			<td th:text="${stat.soldCnt}"></td>
			<td th:text="${stat.ysoldCnt}"></td>
			<td><span th:text="${stat.soldRate}"></span>%</td>
			<td><span th:text="${stat.soldProfit}"></span>%</td>
		</tr>
	</table>
	<br />
	<table border='1' cellspacing='0' cellpadding='0'>
		<tr>
			<th>序号</th>
			<th>代码</th>
			<th>名称</th>
			<th>程序单</th>
			<th>买入日期</th>
			<th>买入价格</th>
			<th>卖出日期</th>
			<th>卖出/当前价格</th>
			<th>收益</th>
		</tr>

		<tr th:each="info : ${vvs}">
			<td th:text="${info.index}"></td>
			<td class='sn' th:text="${info.code}"></td>
			<td th:text="${info.name}"></td>
			<td th:text="${info.program}"></td>
			<td th:text="${info.buyDate}"></td>
			<td th:text="${info.buyPrice}"></td>
			<td th:text="${info.soldDate}"></td>
			<td th:text="${info.soldPrice}"></td>
			<td><span th:text="${info.profit}"></span>%</td>
		</tr>
	</table>
	<script type='text/javascript' src='/html/static/addsinaurl.js'></script>
</body>

</html>
