<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
.bor {
	border: 1px dashed #d8d8d8;
	font-size: 14px;
}

.hder {
	height: 40px;
	font: bold;
	font-size: 16px;
}

tr td {
	border: 1px dashed #d8d8d8;
	vertical-align: bottom;
}
</style>
<script type="text/javascript" src="./common.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
	<table border='1' cellspacing='0' cellpadding='0'>
		<tr>
			<th>序号</th>
			<th>代码</th>
			<th>名称</th>
			<th>程序单</th>
			<th>买入日期</th>
			<th>买入价格</th>
			<th>卖出日期</th>
			<th>卖出/当前价格</th>
			<th>收益</th>
		</tr>

		<tr th:each="info : ${vvs}">
			<td th:text="${info.index}"></td>
			<td class='sn' th:text="${info.code}"></td>
			<td th:text="${info.name}"></td>
			<td th:text="${info.program}"></td>
			<td th:text="${info.buyDate}"></td>
			<td th:text="${info.buyPrice}"></td>
			<td th:text="${info.soldDate}"></td>
			<td th:text="${info.soldPrice}"></td>
			<td><span th:text="${info.profit}"></span>%</td>
		</tr>
	</table>
	<script type='text/javascript' src='/tkhtml/static/addsinaurl.js'></script>
</body>

</html>
