<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
.bor {
	border: 1px dashed #d8d8d8;
	font-size: 14px;
}

.hder {
	height: 40px;
	font: bold;
	font-size: 16px;
}

tr td {
	border: 1px dashed #d8d8d8;
	vertical-align: bottom;
}
</style>
</head>
<body>
	数据类型:
	<span th:text="${info.all}"></span>
	<br /> 开始日期:
	<span th:text="${info.fromDate}"></span>
	<br />
	<table border='1' cellspacing='0' cellpadding='0'>
		<tr>
			<th>类型</th>
			<th>总交易次数</th>
			<th>总盈利次数</th>
			<th>总交易盈亏</th>
			<th>成功率</th>
		</tr>

		<tr>
			<td>所有交易(未卖)</td>
			<td th:text="${info.allCnt}"></td>
			<td th:text="${info.ynowCnt}"></td>
			<td th:text="${info.allProfit}"></td>
			<td><span th:text="${info.nowRate}"></span>%</td>
		</tr>

		<tr>
			<td>已完成交易</td>
			<td th:text="${info.soldCnt}"></td>
			<td th:text="${info.ysoldCnt}"></td>
			<td th:text="${info.soldProfit}"></td>
			<td><span th:text="${info.soldRate}"></span>%</td>
		</tr>
	</table>
</body>

</html>
